<!DOCTYPE html>
<html>
<head>
    <style>
        #header {
            background-color:dimgrey;
            color:white;
            text-decoration: none;
            text-align:center;
            padding:5px;
        }
        #nav {
            background-color: #eeeeee;
            padding: 5px;
        }

        a:visited {
            color: black;
            background-color: transparent;
            text-decoration: none;
        }
        a:hover {
            color: green;
            background-color: transparent;
            text-decoration: none;
        }
        a:active {
            color: yellow;
            background-color: transparent;
            text-decoration: none;
        }
        img{
            float: right;
            margin: 0 0 10px 10px;
        }
        #section {
            width:350px;
            float:left;
            padding:10px;
        }

        #footer {
            background-color:black;
            color:white;
            clear:both;
            text-align:center;
            padding:5px;
        }
    </style>
</head>
<body>
<% if (typeof js_includes !== 'undefined') { %>
<% for(var i=0; i < js_includes.length; i++) { %>
<script src="<%= js_includes[i] %>"></script>
<% }%>
<% }%>
