<% include partials/header %>
<div id="header">
    <h1>About Salon Organizer</h1>
</div>

<div id="nav">
    <a href="/">Home</a>
</div>

<div id="section">
    <h2>About</h2>
<p>Salon Organizer is a way to store all the valuable information about your clients in one place. Never forget another
formula or price point again. Salon Organizer will help you by calculating valuable statistics about you business that
will make your decisions more profitable.</p>
    <p>
        <h3>Contact Information:</h3>
    Founder: Brooke Borges<br>
    Phone: (123)456-7891<br>
    Email: salonorganizer@email.com<br>
    </p>
</div>

<% include partials/footer %>