<%  // include jquery for ajax requests and
    // include custom javascript file for submitting data to our web server using ajax
    // order matters.  genre_ajax requires jquery, so it must be loaded second
%>
<% var js_includes = ['https://code.jquery.com/jquery-1.12.3.min.js', '/javascripts/client_ajax.js']%>
<div id = "header">
    <h1>Sign up</h1>
</div>
<% include partials/header %>
<div id = "nav">
    <a href="all">All clients</a>
    <a href="../loggedIn">back</a>
</div>

<div id = "section">
    <form>
        First name: <input type="text" id="first"/><br/>
        Last Name: <input type="text" id = "last"/><br/>
        Email: <input type="text" id = "email"/><br/>
        Phone Number: <input type="text" id = "client_phone"/><br/>
        Description: <textarea type = "text" id = "description" ></textarea> <br />
        <button id="addBtn">Add Client</button>
    </form>
</div>
<div id="message" style="display:none">This Text is Hidden!</div>

<% include partials/footer %>