<%include partials/header%>
<a href="../loggedIn">back</a>
<div>
    <% if(rs.length > 0) { %>
    <table border="1">
        <tc><th>User First Name</th></tc><tc><th>User Last Name</th></tc>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td><a href="/client/?client_id=<%= rs[i].client_id %>"> <%= rs[i].first %></a></td>
            <td><a href="/client/?client_id=<%= rs[i].client_id %>"> <%= rs[i].last %></a></td>
            <td>
                <a href="/client/delete/?client_id=<%= rs[i].client_id %>&first=<%= rs[i].first %>">Delete</a>
                <a href="/client/edit/?client_id=<%= rs[i].client_id %>">Edit</a>
            </td>
        </tr>
        <% } %>
        <table>
            <% } else { %>
            No users exist.
            <% } %>
</div>

<div style="margin-top:10px;">
    <a href="/client/new">Create New User</a>
</div>
<%include partials/footer%>