<% include partials/header %>

<div id = "section">
<div style = "float:right;">
    Client name: <%= first %> <%=last%>
    <table border = "1">
        <tc><th>Date</th></tc><th><tc>Time</tc></th><tc><tc>Phone Number</tc></tc><tc><th>Appointment Description</th></tc>
        Description: <%=description%>
    </table>

</div>
</div>
<% include partials/header %>