<% include partials/header %>
<div id = "nav">
    <a href="all">All clients</a>
    <a href="../loggedIn">back</a>
</div>

<% if (typeof message !== 'undefined') { %>
<div><%= message %></div>
<% } %>

<% if(rs.length > 0) { %>
<h1>Edit User</h1>
<form method="POST" action="/user/update_user">
    <label for="firstname">First Name</label> <input type="text" id="firstname" name="firstname" value="<%= rs[0].first_name %>"/><br />
    <label for="lastname">Last Name</label> <input type="text" id="lastname" name="lastname" value="<%= rs[0].last_name %>"/><br />
    <label for="email">Email</label> <input type="text" id="email" name="email" value="<%= rs[0].email %>"/><br />
    <label for="username">Username</label> <input type="text" id="username" name="username" value="<%= rs[0].username %>"/><br />
    <!-- .the <input> password type, obscures the letters the user sees when typing in text. Otherwise it functions
            exactly as the <input> text type -->
    <label for="password">Password</label> <input type="password" id="password" name="password" value="<%= rs[0].password %>"/><br />
    <label for="state">State</label>
    <select>
        <% for( var i = 0; i < states.length; i++) { %>
        <option value="<%= states[i].state_id %>"><%= states[i].state_name %> <br />
            <% } %>
    </select>
    <br />
    <!-- .the <input> type submit, creates a button. If the button is within the <form></form> tags, when it is clicked
          it will send the form information to the url specified in the action attribute.
    -->
    <input type="submit" />

</form>
<% } else { %>
No state matches that ID.
<% } %>

<% include partials/footer %>