<% include partials/header %>

<div id="header">
  <h1>Salon Organizer</h1>
</div>

<div id="nav">
<a href="/about" >About</a>
  <% if(typeof first == "undefined") { %><a href="/login">Login</a><% } %>
  <% if(typeof first == "undefined") { %><a href="/stylist/new">Sign Up</a><% } %>
  <% if(typeof first !== "undefined") { %><a href="/logout">Logout</a><% } %>
  <% if(typeof first !== "undefined") { %><a href="/loggedIn">Clients</a><% } %>
  <% if(typeof first !== "undefined") { %>
<div style = "float:right;">
  Welcome, <%= first %>
  <% } %>

  </div>
  </div>


<div id="section">
  <h2>Login or sign up to start organizing your salon!</h2>

</div>

<% include partials/footer %>
