<% include partials/header %>

<div id="header">
    <h1>Salon Organizer</h1>
</div>

<div id="nav">
    <a href="/about" >About</a>
    <a href="/">Home</a>
    <div style = "float:right;">
        Welcome, <%= first %>
    </div>
</div>

<div id = "section">
    <a href = "/client/new">Add New Client</a></br></br>

    <a href = "/client/all">All Clients</a></br></br>
   <h2> Find a client by email:</h2></br>
    <form action="/findClientInfo">
    <label for="email">Email:</label><input type="text" id="email" name="email" /><br>
    <button>Search</button></br></br>
    </form>

</div>

<% include partials/footer%>

