<% include partials/header %>
<div id = "header">
<h1>Login</h1>
</div>
<div id = "nav">
<a href="/">Home</a>
</div>
<div id = "section">
    <h2>Welcome back,</h2>
<% if(typeof msg !== "undefined") { %>
<%= msg %>
<% } %>
<form action="/authenticate">
    <label for="email">Email:</label><input type="text" id="email" name="email" /><br />
    <label for="password">Password:</label><input type="password" id="password" name="password" /><br />
    <button>Go!</button>
</form>
</div>
<% include partials/footer %>